@import "../../../../styles/abstracts/mixins";

.work-links {
  &__url {
    &:not(:last-child) {
      @include break(xsmall) {
        margin-right: 4rem;
      }
      margin-right: 6rem;
    }
    @include break(large) {
      width: 10rem;
      height: 9.5rem;
    }
    @include break(xsmall) {
      height: 8.5rem;
    }

    width: 8.5rem;
    height: 8rem;
    background-color: var(--background-secondary);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 50%;
    height: 50%;

    &--centered {
      margin-top: 0.7rem;
    }
    stop:first-child {
      stop-color: var(--first-rectangle-stop-color);
    }
    stop:last-child {
      stop-color: var(--first-rectangle-stop-color-2);
    }
  }
}
