@import "../../../../styles/abstracts/mixins";

.work-links {
  &__url {
    &:not(:last-child) {
      @include break(xsmall) {
        margin-right: 4rem;
      }
      margin-right: 6rem;
    }
    @include break(large) {
      width: 10rem;
      height: 9.5rem;
    }
    @include break(xsmall) {
      height: 8.5rem;
    }

    width: 8.5rem;
    height: 8rem;
    background-color: var(--background-secondary);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 0.3s;

    &:hover {
      background-color: var(--background-tertiary);
    }
  }
  &__icon {
    & > path {
      fill: var(--clr-primary);
    }
    width: 40%;
    height: 40%;
  }
}
