@keyframes moveFromTop {
  0% {
    transform: translateY(4rem) rotate(-30deg);
  }
  50% {
    transform: translateY(2rem) rotate(-30deg);
  }
  100% {
    transform: translateY(4rem) rotate(-30deg);
  }
}

@keyframes loading {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
