// Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include break(small) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include break(medium) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }
  @include break(xlarge) {
    font-size: 75%; // 1rem = 12px, 12/16
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
