:root {
  --clr-dark: #171a23;
  --clr-dark-2: #1e222d;
  --clr-light: #fff;
  --clr-light-2: #c1c1c1;
  --clr-light-3: #f3f3f3;
  --clr-blue: #58d4ec;
  --clr-violet: #b987f3;
  --clr-orange: #ffa759;
  --clr-orange-dark: #f79b4b;
  --clr-peach: #fb7c58;

  --foreground: var(--clr-light);
  --foreground-light: var(--clr-light-2);
  --background: var(--clr-dark);
  --background-secondary: var(--clr-dark-2);

  --gradient: linear-gradient(
    90deg,
    rgba(255, 167, 89, 1) 0%,
    rgb(251, 140, 88) 100%
  );
  --gradient-darker: linear-gradient(
    90deg,
    rgb(240, 153, 77) 0%,
    rgb(243, 131, 78) 100%
  );
  --first-rectangle-stop-color: var(--clr-orange);
  --first-rectangle-stop-color-2: var(--clr-orange-dark);
  --second-rectangle-color: var(--clr-peach);

  // On scroll navbar background color
  --navbar-sticky-color: rgba(30, 34, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--clr-dark);
    --foreground-light: var(--clr-dark-2);
    --background: var(--clr-light);
    --background-secondary: var(--clr-light-3);
    --gradient: linear-gradient(
      90deg,
      rgba(255, 65, 108, 1) 0%,
      rgba(255, 75, 43, 1) 100%
    );
    --gradient-darker: linear-gradient(
      90deg,
      rgba(255, 65, 108, 1) 0%,
      rgba(255, 75, 43, 1) 100%
    );
    --first-rectangle-stop-color: #ff416c;
    --first-rectangle-stop-color-2: #ff4b2b;
    --second-rectangle-color: #203a43;

    --navbar-sticky-color: rgba(243, 243, 243, 0.6);
  }
}
