:root {
  --clr-dark: #151515;
  --clr-dark-2: #242424;
  --clr-light: #fff;
  --clr-light-2: #c1c1c1;
  --clr-blue: #58d4ec;
  --clr-violet: #b987f3;

  --foreground: var(--clr-light);
  --foreground-light: var(--clr-light-2);
  --background: var(--clr-dark);

  --gradient: linear-gradient(
    90deg,
    rgba(185, 135, 243, 1) 0%,
    rgba(88, 212, 236, 1) 100%
  );
  --gradient-darker: linear-gradient(
    90deg,
    rgb(157, 106, 214) 0%,
    rgb(69, 189, 212) 100%
  );
  --first-rectangle-stop-color: #58d4ec;
  --first-rectangle-stop-color-2: #eecea3;
  --second-rectangle-color: #b987f3;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--clr-dark);
    --foreground-light: var(--clr-dark-2);
    --background: var(--clr-light);

    --gradient: linear-gradient(
      90deg,
      rgba(255, 65, 108, 1) 0%,
      rgba(255, 75, 43, 1) 100%
    );
    --gradient-darker: linear-gradient(
      90deg,
      rgba(255, 65, 108, 1) 0%,
      rgba(255, 75, 43, 1) 100%
    );
    --first-rectangle-stop-color: #ff416c;
    --first-rectangle-stop-color-2: #ff4b2b;
    --second-rectangle-color: #203a43;
  }
}
