<div class="message" [ngClass]="!(loaded$ | async) ? 'message--loading' : ''">
  <div class="message__header">
    <div *ngIf="!(loaded$ | async)" class="skeleton__field--big"></div>
    <h2 class="message__name">
      {{ (message$ | async)?.name }}
    </h2>
    <div *ngIf="!(loaded$ | async)" class="skeleton__field--big"></div>
    <h3 class="message__email">{{ (message$ | async)?.email }}</h3>
    <div *ngIf="!(loaded$ | async)" class="skeleton__field--big"></div>
    <p class="message__text">
      {{ (message$ | async)?.message }}
    </p>
  </div>
  <div class="message__actions" *ngIf="loaded$ | async">
    <a
      class="message__btn message__btn--reply btn btn--hoverable btn--rounded"
      href="mailto:{{ (message$ | async)?.email }}"
    >
      Reply
    </a>
    <a
      *ngIf="message$ | async as message"
      (click)="confirmAction(message)"
      class="message__btn message__btn--delete btn btn--hoverable btn--rounded"
    >
      Delete
    </a>
  </div>
</div>

<app-modal
  [question]="question()"
  [open]="open"
  [payload]="payload"
  (onConfirm)="onConfirmHandler($event)"
></app-modal>
