<div class="message">
  <div class="message__header">
    <h2 class="message__name">Miss Loraine Reinger</h2>
    <h3 class="message__email">mss.loraine.reinger@gmail.com</h3>
    <p class="message__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, nihil
      suscipit cum, sequi ab excepturi laborum autem illo perferendis quibusdam
      quia officiis deserunt quae corporis qui explicabo! Expedita, a ipsum.
    </p>
  </div>
  <div class="message__actions">
    <a class="message__btn message__btn--reply btn btn--hoverable btn--rounded">
      Reply
    </a>
    <a
      class="message__btn message__btn--delete btn btn--hoverable btn--rounded"
    >
      Delete
    </a>
  </div>
</div>
