<nav class="navbar u-pt-xs">
  <div class="u-container u-flex u-flex-jc-sb u-flex-ai-c">
    <a [routerLink]="['/']" class="navbar__logo fw-bold">OMAR IRISKIC</a>
    <ul
      class="navbar__list u-flex"
      [ngClass]="show ? 'navbar__list--active' : ''"
    >
      <li class="navbar__list-item">
        <a
          [routerLink]="['/about-me']"
          class="navbar__link"
          [ngClass]="invert() ? 'navbar__link--inverted' : ''"
          >About me</a
        >
      </li>
      <li class="navbar__list-item">
        <a
          [routerLink]="['/works']"
          class="navbar__link"
          [ngClass]="invert() ? 'navbar__link--inverted' : ''"
          >Works</a
        >
      </li>
    </ul>
    <div
      class="navbar__toggler"
      (click)="toggle()"
      [ngClass]="show ? 'navbar__toggler--close' : ''"
    ></div>
  </div>
</nav>
