<div
  class="work-header u-container u-flex u-flex-d-c u-flex-jc-c u-flex-ai-c u-mt-xl"
>
  <h1 class="work-header__heading">{{ name }}</h1>
  <div class="work-header__image-container u-mt-l">
    <img
      src="{{ image }}"
      alt="{{ name }} Project image"
      class="work-header__image"
    />
  </div>
  <div class="work-header__abstract-lines">
    <svg
      class="work-header__line-1"
      width="1920"
      height="344"
      viewBox="0 0 1920 344"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2001 1.99997C1684.17 258.333 824.2 617.2 -81 1.99997"
        stroke="url(#paint0_linear)"
        stroke-width="3"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="392"
          y1="261"
          x2="1569.5"
          y2="235"
          gradientUnits="userSpaceOnUse"
        >
          <stop />
          <stop offset="1" />
        </linearGradient>
      </defs>
    </svg>
    <svg
      class="work-header__line-2"
      width="1920"
      height="343"
      viewBox="0 0 1920 343"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M-82.5 341.684C234.333 85.3504 1094.3 -273.516 1999.5 341.684"
        stroke="url(#paint0_linear)"
        stroke-width="3"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="1526.5"
          y1="82.6839"
          x2="349"
          y2="108.684"
          gradientUnits="userSpaceOnUse"
        >
          <stop />
          <stop offset="1" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>
