@import "../../../../styles/abstracts/mixins";

:host {
  width: 100%;
}

.messages {
  width: 100%;
  &__content {
    @include break(medium) {
      flex-wrap: wrap;
    }
    display: flex;
    width: 100%;
  }
}
