@import "../../../../../styles/abstracts/mixins";

.experience-table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  margin-top: 2rem;

  @include break(xsmall) {
    max-height: 60vh;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--background-secondary);
    border-radius: var(--border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gradient);
    border-radius: var(--border-radius);
  }
}
.experience-table-header {
  display: flex;
  justify-content: flex-end;

  @include break(small) {
    justify-content: center;
  }

  &__btn {
    @include break(small) {
      width: 60%;
      text-align: center;
      padding: 1rem 2rem;
    }
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    background-color: var(--clr-blue);
    text-decoration: none;
    font-size: 1.6rem;
    
  }
}

.experience-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;

  &__row {
    background-color: var(--background-secondary);
    transition: background-color ease-in-out 0.3s;

    &:hover {
      background-color: var(--background-tertiary);
    }
  }
  &__column {
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    padding: 1rem;

    &--id {
      text-align: center;
      color: var(--foreground-light);
    }
    &--action {
      text-align: center;
    }
  }
  &__data {
    text-align: left;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--id {
      text-align: center;
      color: var(--foreground-light);
    }
  }
  &__action {
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &--edit {
      outline: none;

      &:hover {
        & > svg > * {
          stroke: var(--clr-blue);
        }
      }
    }

    &--delete:hover {
      & > svg > * {
        stroke: var(--clr-red);
      }
    }

    & > svg {
      margin-top: 0.5rem;
      height: 2rem;
      width: 2rem;
    }
    & > svg > * {
      transition: stroke ease-in-out 0.3s;
      stroke: var(--foreground);
    }
  }
}
.experience-count {
  &__text {
    font-weight: 700;
    text-transform: uppercase;
  }
  &__divider {
    border: none;
    height: 1px;
    width: 100%;
    align-self: center;
    background-color: var(--foreground-light);
    margin: 1.2rem 0;
    opacity: 0.5;
  }
}
