<div class="header u-container">
  <svg
    width="1097"
    height="1101"
    viewBox="0 0 1097 1101"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="header__rectangle-1"
  >
    <g filter="url(#filter0_d)">
      <rect
        width="914"
        height="606"
        rx="200"
        transform="matrix(-0.832698 0.553728 0.553728 0.832698 822.086 25)"
        fill="url(#paint0_linear)"
      />
    </g>
    <defs>
      <filter
        id="filter0_d"
        x="3.05176e-05"
        y="-32"
        width="1218.64"
        height="1132.72"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="18.5" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow"
          result="shape"
        />
      </filter>
      <linearGradient
        id="paint0_linear"
        x1="765.942"
        y1="394.981"
        x2="123.376"
        y2="229.623"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#58D4EC" />
        <stop offset="1" stop-color="#EECEA3" />
      </linearGradient>
    </defs>
  </svg>
  <svg
    width="1097"
    height="1011"
    viewBox="0 0 1097 1011"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="header__rectangle-2"
  >
    <rect
      width="914"
      height="606"
      rx="200"
      transform="matrix(-0.832698 0.553728 0.553728 0.832698 761.086 0)"
      fill="#B987F3"
    />
  </svg>
</div>
<app-navbar></app-navbar>
<div class="u-container">
  <div class="header-greetings">
    <h1 class="header-greetings__heading">
      Hey, I'm a<br />FULL<span>STACK</span> <br />WEB<span>DEVELOPER</span>
    </h1>
  </div>
</div>
<div class="u-container u-flex u-flex-jc-c u-flex-ai-c call_to_action">
  <a
    [routerLink]="['/curriculum-vitae']"
    class="btn btn--rounded btn--gradient btn--hoverable call_to_action__btn"
    >READ MY CV</a
  >
</div>
