<div class="header u-container">
  <div class="header__rectangle-1"></div>
  <div class="header__rectangle-2"></div>
</div>
<app-navbar></app-navbar>
<div class="u-container">
  <div class="header-greetings">
    <h1 class="header-greetings__heading">
      Hey, I'm a<br />FULL<span>STACK</span> <br />WEB<span>DEVELOPER</span>
    </h1>
  </div>
</div>
<div class="u-container u-flex u-flex-jc-c u-flex-ai-c call_to_action">
  <a
    href="https://api.omaririskic.com/storage/resume/omar-iriskic-resume.pdf"
    target="_blank"
    class="btn btn--rounded btn--gradient btn--hoverable call_to_action__btn"
    >READ MY CV</a
  >
</div>
