@import "../../../../styles/abstracts/mixins";

.header {
  position: relative;

  &__rectangle-1 {
    @include break(small) {
      display: none;
    }
    @include break(medium) {
      top: -80rem;
      right: 0;
    }
    position: absolute;
    top: -40rem;
    right: -33rem;
    z-index: -1;
    filter: drop-shadow(0 3rem 4rem rgba(#000, 0.3));
    animation: moveFromTop 20s infinite;

    & > defs > linearGradient > stop {
      stop-color: var(--first-rectangle-stop-color);
    }
    & > defs > linearGradient > stop:last-child {
      stop-color: var(--first-rectangle-stop-color-2);
    }
  }
  &__rectangle-2 {
    @include break(small) {
      display: none;
    }
    @include break(medium) {
      top: -67rem;
      right: 0;
    }
    position: absolute;
    top: -30rem;
    right: -35rem;
    z-index: -2;
    animation: moveFromTop 21s infinite;

    & > rect {
      fill: var(--second-rectangle-color);
    }
  }
}

.header-greetings {
  @include break(large) {
    margin-top: 25rem;
  }
  @include break(medium) {
    margin-top: 30rem;
    display: flex;
    justify-content: center;
  }
  @include break(small) {
    margin-top: 20rem;
  }
  margin-top: 18rem;

  &__heading {
    @include break(medium) {
      font-size: 5rem;
      text-align: center;
    }
    @include break(small) {
      font-size: 4rem;
    }

    font-size: 4rem;
    font-weight: 300;
    line-height: 1.3;

    & > span {
      font-weight: 700;
    }
  }
}

.call_to_action {
  &__btn {
    @include break(large) {
      margin-top: 50rem;
    }
    @include break(small) {
      margin-top: 25rem;
    }

    @media (prefers-color-scheme: light) {
      color: var(--background);
    }

    margin-top: 35rem;
    font-weight: 300;
  }
}
