<app-navbar></app-navbar>
<div class="auth u-container u-flex u-flex-d-c u-flex-jc-c u-flex-ai-c">
  <form
    [formGroup]="loginForm"
    appThrottleClick
    (throttleClick)="loginhandler()"
    [throttleTime]="3000"
    class="auth-form u-flex u-flex-d-c u-flex-ai-c"
  >
    <div
      class="auth-form__group"
      [ngClass]="
        email.invalid && email.touched ? 'auth-form__group--invalid' : ''
      "
    >
      <input
        type="email"
        name="email"
        class="auth-form__input-field"
        formControlName="email"
        placeholder="Email address"
      />
    </div>
    <small class="auth-form__invalid" *ngIf="email.invalid && email.touched"
      >Email address does not look right</small
    >
    <div
      class="auth-form__group"
      [ngClass]="
        password.invalid && password.touched ? 'auth-form__group--invalid' : ''
      "
    >
      <input
        type="password"
        class="auth-form__input-field"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <small
      class="auth-form__invalid"
      *ngIf="password.invalid && password.touched"
      >Password does not look right</small
    >
    <div class="auth-form__group">
      <button
        class="auth-form__btn auth-form__btn--hoverable btn btn--rounded"
        [disabled]="loginForm.invalid"
        type="submit"
      >
        <span
          *ngIf="
            !(requestingAuth$ | async) && !(requestingAuthFailure$ | async)
          "
          >Login</span
        >
        <app-oval-loader
          *ngIf="requestingAuth$ | async"
          [invert]="true"
        ></app-oval-loader>
        <app-status-icon
          [invert]="true"
          [error]="requestingAuthFailure$"
        ></app-status-icon>
      </button>
    </div>
  </form>
</div>
