<div class="modal" [ngClass]="(open | async) ? 'modal--active' : ''">
  <main class="modal__content">
    <header class="modal__header">
      <h4 class="modal__heading">{{ question }}</h4>
      <p class="modal__disclaimer">This action can not be reversed</p>
    </header>
    <div class="modal__actions">
      <a
        class="btn btn--rounded modal__btn modal__btn--cancel"
        (click)="cancel()"
        >Cancel</a
      >
      <a
        class="btn btn--rounded modal__btn modal__btn--confirm"
        (click)="onConfirmEmitter()"
        >Delete</a
      >
    </div>
  </main>
</div>
