.oval-loader {
  width: 3rem;
  height: 3rem;
  stroke: var(--foreground);

  &--inverted {
    @media (prefers-color-scheme: light) {
      stroke: var(--background);
    }
  }
  &--small {
    width: 2.5rem;
    height: 2.5rem;
  }
}
