<div class="u-container u-mt-xxl" *ngIf="!(loaded$ | async)">
  <app-chasing-dots-loader></app-chasing-dots-loader>
</div>
<div
  class="works-list u-container u-mt-xxl u-mb-xxl"
  [@fadeIn]="loaded$ | async"
>
  <app-works-list-main-item
    *ngIf="latestWork$ | async as work"
    [work]="work"
    [routerLink]="['/works', work.id]"
  ></app-works-list-main-item>
  <div class="works-list__content">
    <app-works-list-item
      *ngFor="let work of works$ | async | slice: 1; let last = last"
      [work]="work"
      [isLast]="last"
      [routerLink]="['/works', work.id]"
    ></app-works-list-item>
  </div>
</div>
