<div
  *ngIf="!(loaded$ | async)"
  class="work__heading--loading skeleton__field--big"
></div>
<app-dashboard-heading [text]="(work$ | async)?.title"></app-dashboard-heading>
<div class="work u-mt-xl">
  <div class="u-flex u-flex-jc-c" *ngIf="!(loaded$ | async)">
    <app-oval-loader></app-oval-loader>
  </div>
  <div class="work__content" *ngIf="loaded$ | async">
    <div class="work__btn-wrapper u-w-100 u-flex u-flex-jc-e u-mb-m">
      <a
        (click)="showAddImageModal()"
        class="
          btn btn-secondary
          work__action-btn work__action-btn--new-image
          u-mr-xs
        "
        >Add new image</a
      >
      <a
        [routerLink]="['/dashboard/works', (work$ | async)?.id, 'edit']"
        class="btn btn-primary work__action-btn work__action-btn--edit u-mr-xs"
        >Edit</a
      >
      <a
        (click)="confirmAction(null)"
        class="btn btn-primary work__action-btn work__action-btn--delete"
        >Delete</a
      >
    </div>
    <div class="work__img-wrapper">
      <img
        src="{{ (work$ | async)?.image }}"
        alt="{{ (work$ | async)?.title }} image"
        class="work__img"
      />
      <p class="work__img-wrapper-title">Title image</p>
    </div>
    <div class="work__info u-mt-m">
      <div
        class="work__description"
        [innerHTML]="(work$ | async)?.description"
      ></div>
    </div>
    <div class="work-images u-mt-m" *ngIf="imagesLoaded$ | async">
      <app-work-image-container
        (click)="showUpdateImageModal(image)"
        [title]="(work$ | async)?.title"
        *ngFor="let image of image$ | async"
        [workImage]="image"
      ></app-work-image-container>
    </div>
  </div>
</div>

<app-modal
  [question]="question()"
  [open]="open"
  [payload]="payload"
  (onConfirm)="onConfirmHandler($event)"
></app-modal>

<div
  class="update-work-image-modal"
  [ngClass]="isUpdateModalShown ? 'update-work-image-modal--active' : ''"
  (click)="hideUpdateModal($event)"
>
  <div class="update-work-image-modal__content">
    <h3 class="update-work-image-modal__header">Update work image</h3>
    <form class="update-image__form" [formGroup]="updateWorkImageFormGroup">
      <div class="update-image__form-group">
        <label for="workImage">Upload image</label>
        <input
          type="file"
          (change)="onFileChange($event, updateWorkImageFormGroup)"
          name="image"
          id="workImage"
        />
      </div>
      <div class="update-image-form-quill">
        <quill-editor
          formControlName="description"
          [styles]="quillStyles"
          [modules]="config"
          [placeholder]="'Write something about this work image'"
        ></quill-editor>
      </div>
    </form>
    <div class="modal-actions u-flex u-flex-jc-c u-mt-s">
      <button
        class="
          btn btn--rounded
          modal-action-btn modal-action-btn--delete
          u-mr-m
        "
        (click)="deleteUpdateWorkImage()"
      >
        Delete
      </button>
      <button
        class="btn btn--rounded modal-action-btn modal-action-btn--update"
        type="submit"
        (click)="updateWorkImageHandler()"
        [disabled]="updateWorkImageFormGroup.invalid"
      >
        Update
      </button>
    </div>
  </div>
</div>

<!-- Add new image modal -->
<div
  class="add-work-image-modal"
  [ngClass]="isAddModalShown ? 'add-work-image-modal--active' : ''"
  (click)="hideAddModal($event)"
>
  <div class="add-work-image-modal__content">
    <h3 class="add-work-image-modal__header">Add new work image</h3>
    <form
      class="add-image__form u-w-70-medium-100"
      [formGroup]="addWorkImageFormGroup"
    >
      <div class="add-image__form-group">
        <label for="workImage">Upload image</label>
        <input
          type="file"
          (change)="onFileChange($event, addWorkImageFormGroup)"
          name="image"
          id="workImage"
        />
      </div>
      <div class="add-image-form-quill">
        <quill-editor
          formControlName="description"
          [styles]="quillStyles"
          [modules]="config"
          [placeholder]="'Write something about this work image'"
        ></quill-editor>
      </div>
    </form>
    <div class="modal-actions u-flex u-flex-jc-c u-mt-s">
      <button
        class="btn btn--rounded modal-action-btn modal-action-btn--add"
        type="submit"
        (click)="addWorkImageHandler()"
        [disabled]="addWorkImageFormGroup.invalid"
      >
        Add
      </button>
    </div>
  </div>
</div>
