@import "../../../../styles/abstracts/mixins";

.about-me-content {
  @include break(medium) {
    min-height: 50vh;
  }
  @include break(xsmall) {
    min-height: 55vh;
  }

  min-height: 60vh;
  &__heading {
    font-size: 3rem;
  }
  &__position {
    font-size: 2.5rem;
  }
  &__location {
    font-size: 2rem;

    & > span {
      background: var(--gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}
h5 {
  font-size: 2.5rem !important;
}
