<div class="about-me-content u-container u-mt-xxl" *ngIf="!(loaded$ | async)">
  <app-chasing-dots-loader></app-chasing-dots-loader>
</div>
<div class="about-me-content u-container u-mt-xxl" [@fadeIn]="loaded$ | async">
  <h1 class="about-me-content__heading u-mb-m">{{ heading$ | async }}</h1>
  <h2 class="about-me-content__position">
    I'm a {{ position$ | async }} Developer
  </h2>
  <h3 class="about-me-content__location u-mb-l">
    Currently based in <span>{{ location$ | async }}</span>
  </h3>
  <h5>Biograpy</h5>
  <app-about-me-biography [content]="biography$"></app-about-me-biography>
</div>
